.Home {
    text-align: center;
    background-color: #222;
  }
  
  .Home-logo {
    animation: App-logo-spin infinite 12s linear;
    height: 800px;
    
  }
  
  .Home-header {
    background-color: #222;
    height: 30px;
    padding: 20px;
    color: white;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  